<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">

<head>
  <link rel="import" href="test.html">
<title>项目：PROJECT - 王冠嵩</title>
<meta charset="UTF-8">
<meta name="author" content="wangguansong@outlook.com">
<meta name="description" content="website">
<link rel="stylesheet" href="/layout.css" type="text/css">
<link rel="stylesheet" href="/design.css" type="text/css">
</head>

<body>

<header>
  <h1>王冠嵩的网站</h1>
  <nav>
    <ul>
      <li><a href="/zh/index.html">首页</a></li>
      <li><a href="/zh/aboutme.html">关于我</a></li>
      <li><a href="/zh/projects.html">项目</a></li>
      <li><a href="/zh/blog.html">文章</a></li>
      <li><a href="/zh/pictures.html">图片</a></li>
      <li><a href="/zh/updates.html">更新记录</a></li>
      <li><a href="/zh/links.html">相关链接</a></li>
      <li><a href="/en/index.html" lang="en">English</a></li>
    </ul>
  </nav>
</header>

<main>

<article>
  
  <header>
    <h2>PROJECT TITLE</h2>
  </header>
  <p>DESCRIPTION</p>
  
</article>

<aside>
  <h3>项目</h3>
  <ul>
    <li><a href="/zh/projects/project_iv_estimators.html">高频数据日波动率</a></li>
    <li><a href="/zh/projects/project_china_stocks.html">沪深股票下载（R）</a></li>
    <li><a href="/zh/projects/project_china_aqi.html">中国空气质量指数</a></li>
    <li><a href="/zh/projects/project_nlxj.html">交友资料文字挖掘</a></li>
    <li class="active"><a href="/zh/projects/project_template.html">PROJECT</a></li>
  </ul>
</aside>

</main>

<footer>
  <ul>
    <li>
      网站备案：
      <a href="http://www.miitbeian.gov.cn/">辽ICP备15012794号</a>
    </li>
  </ul>
</footer>
</body>
</html>
